footer {
  padding: .5rem;
  background-color: rgb(17,17,17);
  color: var(--text-button-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1440px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .grid {
  display: flex;
}

footer .link {
  flex: 1;
  /* margin-right: 16px; */
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  font-stretch: 100%;
}

.grid li {
  text-align: left;
  margin: 8px;
  font-size: var(--body-font-size-xs);
}

footer .copyright {
  flex: 1;
}

footer .copyright .grid{
  justify-content: space-between;
}

.grid ul {
  min-width: 250px;
  min-height: 35px;
  margin: 0px 0px 0px 8px;
}

.grid .link li:not(:first-of-type){
  color: #7e7e7e;
}

.copyright .grid ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
}
